<div class="container-fluid">
  <div class="row" style="">
    <div class="col-xs-12 col-md-6 card text-center" style="padding: 70px;">
      <center><img src="images/consulta.png" class="card-img-top" style="width: 30%;" alt="consulta"></center>
      <div class="card-body">
        <h5 class="card-title">CONSULTAR</h5>
        <p class="card-text">Ingresa para obtener las personas registradas</p>
        <a href="" ng-click="main.refConsulta()" class="btn btn-primary">Ir al listado</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 card text-center" style="padding: 70px;">
      <center><img src="images/registro.png" class="card-img-top" style="width: 30%;" alt="registro"></center>
      <div class="card-body">
        <h5 class="card-title">REGISTRAR</h5>
        <p class="card-text">Ingresa para realizar el registro de la persona</p>
        <a href="" ng-click="main.refRegistro()" class="btn btn-primary">Ir a registrar</a>
      </div>
    </div>
  </div>
</div>
