<div class="panel panel-default">
  <div class="row">
      <div class="col-xs-12 col-md-4">
          <label for="text_titulo">TÍTULO</label>
          <input type="text" class="form-control" id="text_titulo" name="text_titulo" placeholder="Título de notificación" >
      </div>
      <div class="col-xs-12 col-md-4">
          <label for="text_mensaje">MENSAJE</label>
          <input type="text" class="form-control" id="text_mensaje" name="text_mensaje" placeholder="Cuerpo del mensaje" >
      </div>
      <div class="col-xs-12 col-md-4">
          <label for="text_mensaje">MENSAJE</label>
          <input type="text" class="form-control" id="text_mensaje" name="text_mensaje" placeholder="Cuerpo del mensaje" >
      </div>
      <div class="col-xs-12 col-md-4">
          <label for="text_mensaje">MENSAJE</label>
          <input type="text" class="form-control" id="text_mensaje" name="text_mensaje" placeholder="Cuerpo del mensaje" >
      </div>
      <div class="col-xs-12 col-md-4">
          <label for="text_mensaje">MENSAJE</label>
          <input type="text" class="form-control" id="text_mensaje" name="text_mensaje" placeholder="Cuerpo del mensaje" >
      </div>
      <div class="col-xs-12 col-md-4" style="text-align: left;">
          <label></label>
          <button type="submit" class="btn btn-success btn-lg boton" id="btn_guardar" style="width: 100%;">
              ENVIAR
              <span class="glyphicon glyphicon-send"></span>
          </button>
      </div>
  </div>
</div>
